<div class="w-full flex flex-col justify-center items-center h-screen">
  <div class="content items-center justify-center snap-y snap-mandatory h-full w-full overflow-auto">
    <app-slide>slide number 1</app-slide>
    <app-slide>slide number 2</app-slide>
    <app-slide>slide number 3</app-slide>
    <app-slide>slide number 4</app-slide>
    <app-slide>slide number 5</app-slide>
    <app-slide>slide number 6</app-slide>
  </div>
  <div class="w-full bg-amber-200">
    <app-footer/>
  </div>
</div>
